<div class="div_container_big_card">
    <div class="imagem_container">
        <img 
            src="https://t2.ea.ltmcdn.com/pt/posts/7/6/8/a_forca_dos_gorilas_20867_600.jpg"
            alt="">
    </div>
    <div class="noticia_titulo">
        <h2 class="titulo">Esse é um gorila</h2>
        <hr>
        <p class="resumo noticia">     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure repellat unde autem amet rem eligendi sed nisi, temporibus corporis voluptas expedita! Explicabo iure temporibus magnam debitis. Facilis minima animi repudiandae. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi repellendus ipsa eius voluptas non molestias laudantium ut iure illum. Perspiciatis doloribus facilis dolorem exercitationem eligendi reprehenderit commodi? Doloremque, laboriosam sapiente!</p>
    </div>

</div>
