<div class="hub_container">
    <div class="hub_container_icon">
        <img src="" alt="">
        <button class="hub_container_icon_botton" (click)="botaoClicado()">
        
        </button>
        <input class="hub_container_icon_input" type="text" *ngIf="aparecePesquisa">
    </div>

    <div class="hub_container_menu" ng >
        <ul class="hub_container_menu_list">
           
        <li><a routerLink="/visit" >Play your visit</a></li>
        <li><a routerLink="/animals">Animal</a></li>
        <li><a routerLink="">Support</a></li>
        <li><a routerLink="">Learn</a></li> 
    </ul>
    </div>
    <div class="hub_container_tickets">
        <button class="hub_container_tickets_button">Tickets & Reservations</button>
    </div>
</div>
